<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Progetto</display-name>
  <welcome-file-list>
    <welcome-file></welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewItem</servlet-name>
    <servlet-class>servlet.NewItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewItem</servlet-name>
    <url-pattern>/NewItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShopManager</servlet-name>
    <servlet-class>servlet.ShopManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopManager</servlet-name>
    <url-pattern>/ShopManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchProduct</servlet-name>
    <servlet-class>servlet.SearchProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProduct</servlet-name>
    <url-pattern>/SearchProduct</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>VisitProduct</servlet-name>
    <servlet-class>servlet.VisitProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisitProduct</servlet-name>
    <url-pattern>/VisitProduct</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>Asta</servlet-name>
    <servlet-class>servlet.Asta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Asta</servlet-name>
    <url-pattern>/Asta</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>Carrello</servlet-name>
    <servlet-class>servlet.Carrello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Carrello</servlet-name>
    <url-pattern>/Carrello</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ProfileManager</servlet-name>
    <servlet-class>servlet.ProfileManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileManager</servlet-name>
    <url-pattern>/ProfileManager</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>HomeLoad</servlet-name>
    <servlet-class>servlet.HomeLoad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeLoad</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
</web-app>